{
    "ytdlp": "/usr/local/bin/yt-dlp",
    "ffmpeg": "/usr/local/bin/ffmpeg",
    "ffprobe": "/usr/local/bin/ffprobe",
    "openai": {
        "key": "sk-",
        "model": "gpt-4o-mini-2024-07-18"
    },
    "channels": [
        {
            "id": "",
            "name": "",
            "channel_id": "",
            "url": "",
            "folder": "",
            "video_base_vertical": "",
            "video_base_horizontal": "",
            "video_cover": "",
            "font": "",
            "font_size": "64",
            "font_color": "#FFFFFF",
            "font_effect": ":box=1:boxcolor=black@0.5:boxborderw=10",
            "description": "",
            "topics": "one,two,three",
            "excerpts": 3,
            "stretch_time": 1,
            "video_limit": 15,
            "upload_to_youtube": false,
            "ytdlp_format": "bestvideo[height<=720]+bestaudio/best[height<=720]"
        },
    ]
}